#container .col {
  max-width: 40px;
  height: 40px;
  flex: 1 1 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#container {
  max-width: 400px;
  margin: 20px auto;
}
